<h1>Все пользователи</h1>

<%= will_paginate %>

<table>
  <tr>
    <th>Имя</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Посмотреть', user %></td>
    <% if current_user.admin? %>
  <td><%= link_to 'Удалить', user, method: :delete, data: { confirm: 'Вы уверены?' } %></td> <% end %>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate %>


