<% if current_user.admin? %>
<h1>Зайгрузка расписания </h1>
<%= form_tag :url => { :controller => "lesson_sched", :action => "index" } , :multipart => true%>
<label for="file">Выберите файл</label> <%= file_field(:schedule, :file) %>
<%= text_field(:schedule, :year) %>
<%= text_field(:schedule, :semester) %>
   <%= submit_tag("Создать") %>
<%end%>
